<%- include('../partials/head') %>

<div class="container text-center gibMargin">
    <div class="row justify-content-center">
        <form action="/">
            <button type="submit" class="btn goHome">
                HOME
            </button>
        </form>
    </div>
</div>
<div class="container text-center" style="width: 70%;">
    
    <br>
    <h1>Customer:</h1>
    <div class="row">
        <div class="col formEntry">
            <div class="row">
                <div class="col">Name:</div>
                <div class="col">Phone:</div>
                <div class="col">Address:</div>
            </div>
            <div class="row">
                <div class="col"><%= cust[0].NAME %></div>
                <div class="col"><%= cust[0].PHONE %></div>
                <div class="col"><%= cust[0].ADDR %></div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <h1>Cart:</h1>
    <% for(let i = 0; i < cart.length; i++) {
        if(prods[i])
        if (cart[i].OPENED) { %>
        <div class="row cartItem">
            <div class="col">
                <div class="row" style="padding: 1% 0 1% 0;">
                    <div class="col" style="color: black">Product Name:</div>
                    <div class="col" style="color: black">Drops:</div>
                    <div class="col" style="color: black">Total:</div>
                </div>
                <div class="row" style="padding: 1% 0 1% 0;">
                    <div class="col"><%= prods[i].P_NAME %></div>
                    <div class="col"><%= cart[i].QUANTITY %> at $<%= prods[i].P_PER_AMNT %>/drop</div>
                    <div class="col">$<%= prices[i] %></div>
                </div>
            </div>
            <div class="row cartItemMenu" style="padding: 1% 1% 1% 1%;">
                <div class="col-auto me-auto">
                    <form action="/checkout/<%= customer_id %>/<%= cart_id %>/cart?_method=DELETE" method="POST">
                        <button class="cartItemButton" type="submit">Remove</button>
                        <input type="hidden" id="prodId" name="prodId" value="<%= prods[i].P_ID %>">
                        <input type="hidden" id="opened" name="opened" value="1">
                    </form>
                </div>
            </div>
        </div>
        <% } else {  %>
            <div class="row cartItem">
                <div class="col">
                    <div class="row" style="padding: 0 0 1% 0;">
                        <div class="col" style="color: black;">Product Name:</div>
                        <div class="col" style="color: black;">Bottles:</div>
                        <div class="col" style="color: black;">Total:</div>
                    </div>
                    <div class="row" style="padding: 1% 0 1% 0;">
                        <div class="col"><%= prods[i].P_NAME %></div>
                        <div class="col"><%= cart[i].QUANTITY %> at $<%= prods[i].P_PRICE %>/bottle</div>
                        <div class="col">$<%= prices[i] %></div>
                    </div>
                    <div class="row cartItemMenu" style="padding: 1% 1% 1% 1%;">
                        <div class="col-auto me-auto">
                            <form action="/checkout/<%= customer_id %>/<%= cart_id %>/cart?_method=DELETE" method="POST">
                                <button class="cartItemButton" type="submit">Remove</button>
                                <input type="hidden" id="prodId" name="prodId" value="<%= prods[i].P_ID %>">
                                <input type="hidden" id="opened" name="opened" value="0">
                            </form>
                        </div>
                        <div class="col-auto">Wholesale</div>
                    </div>
                </div>
            </div>
        <% } } %>
    <br>
    <hr>
    <form>
        <button type="submit" class="btn btn-primary mb-3">Add More Products</button>
    </form>
</div>
<%- include('../partials/end') %>